
<h2> Drones: </h2>

<ul>
<% listOfDrones.forEach((drones)=>{ %>
  <li>
    <h3> <%= drones.droneName %> </h3>
    <h5> <%= drones.propellers %> </h5>
    <h5> <%= drones.maxSpeed %> </h5>
<% }); %>

    </li>
</ul>
